BSC_MAINNET_RPC_URL = https://bsc-rpc.publicnode.com
BSC_TESTNET_RPC_URL = https://data-seed-prebsc-1-s1.binance.org:8545

# CONTRACT_ADDRESS = 0x89b77621559290d9c0535a142a29027f7bb31bac
CONTRACT_ADDRESS = 0xba421899132fa39452c2abbfa9a0664fed416e5a

ENV = MAINNET
PRIVATE_KEY = 